@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Trispace:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
div{
   /*border: black solid thin;*/
}
.container{
    width: 65%;
    margin-left: 15%;
    height: auto;
    font-family: sans-serif;
}
/**************************************************************************************************************/
header{
    padding: 0px 5px;
}
.header_gore{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding:7px;
    background-color:rgba(207,0,6,255);
    box-shadow: 0px 5px 10px -5px  grey;
    
}
.logo{
    text-align: center;
    margin-left: 20px;
    height: 90px;
    color: blanchedalmond;
}
.logo img{
    height: 70px;
    border: 1px white solid;
}
.reklama_header{
    width: 70%;
    background-color: rgba(221,221,221,255);
    text-align:center;
    height: 90px;
}
.reklama_header h3{
    height: 15px;
    width: 100px;
    padding:40px 300px ;
}
.nav_bar{
    height:auto;
    width: 100%;
}
.nav_bar ul{
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content:left;
}
.nav_bar ul li{
    display: flex;
    height: 100%;
    width:100%;
    justify-content: center;
    border-bottom: blue 2px solid;
    padding: 5px;
}
.nav_bar ul li a{
    width:max-content;
    color: black;
    text-decoration: none;
    
}
.nav_bar ul li:hover{
    background-color:rgba(207,0,6,255);
    color:white;
}
.topnav {
    overflow: hidden;
    display: none;
}
.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: white;
    width: 100%;
} 
.topnav a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom: black thin solid;
}
.icon {
    width: 49px;
    display: none;
}
.lupa {
    width: 40px;
    margin-top: 30px;
    margin-right: 20px;
    display: none;
    height: 40px;
}
/**************************************************************************************************************/
.header_dole{
    padding-top:10px;
    padding-right: 5px;
}
.nav{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px -5px  grey;
}
.nav_dole ul{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: left;
    list-style-type: none;
}
.nav_dole ul li{
    display: flex;
    justify-content: center;
    background-color: white;
}
.nav_dole ul li a{
    text-transform: uppercase;
    display: block;
    width:max-content;
    color: black;
    text-decoration: none;
    padding: 5px;
}
.nav_dole ul li a:hover{
    background-color:rgba(207,0,6,255);
    color: white;
}
.search{
    height: 100%;
    display: flex;
    justify-content: left;
}
.search form{
    height: 90%;
    display: flex;
}
.search button{
    height: 30px;
    border: 0px;
}
.search button img{
    height: 100%;
}
.search input{
    border: none;
    background-color: rgba(221,221,221,255);
    cursor:default;
    color: white;
    width: 140px;
}
/**********************************************************************/
.centar{
    width: 100%;
    height: auto;
    
}
.marketing{
    width: 100%;
    height: 250px;
    margin:20px 5px 10px 5px;
    background-color: rgba(221,221,221,255);
}
.baner{
    width: 100%;
    height: auto;
    margin-bottom:10px ;
    text-align: left;
    background-color:rgba(207,0,6,255);
    color: white;
}
.baner h2{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.vesti{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    
}
/*************************************************************************/
.main{    
    width: 720px;
    height: auto;
    background-color: rgb(255, 255, 255);
    
}
.vest_main{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin-bottom:10px ;
}
.glavna_vest{
    height: 450px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.krupna_vest{
    height:auto;
    width: 60%;
    background-image: url(../imagess/baba_lerdi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.naslov_glavna{
    width: fit-content;
    background-color: rgba(207,0,6,255);
    text-transform: uppercase;
    color: white;
    margin-left: 334px;
    padding: 5px;
    margin-bottom: 375px;
}
.hover{
    height: fit-content;
    background-color: rgb(0, 0, 0);
    margin-bottom:0px;
    opacity: 0.5;
    color: white;
    padding: 5px;
}
.hover:hover{
    opacity: 0.9;
}
.desna_vest{
    height: auto;
    width: 38%;
    background-color: rgb(255, 255, 255);
}
.gornja{
    height:49.5%;
    width:100%;
    background-image: url(../imagess/lopov.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.naslov_gornja,.naslov_donja{
    width: fit-content;
    background-color:rgba(207,0,6,255);
    padding: 5px;
    margin-left: 201.5px;
    color: white;
}
.hover_gornja{
    width: 100%;
    min-height: 80px;
    max-height: 100px;
    background-color: black;
    color: white;
    opacity: 0.5;
    margin-top: 115px;
    padding: 5px;
}
.hover_donja{
    width: 100%;
    min-height: 80px;
    max-height: 100px;
    background-color: black;
    color: white;
    opacity: 0.5;
    margin-top:110px;
    padding: 5px;

}
.hover_gornja:hover{
    opacity: 0.9;
}
.hover_donja:hover{
    opacity: 0.9;
}
.donja{
    margin-top: 5px;
    height:49.5%;
    width:100%;
    background-image: url(../imagess/bajden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sadrzaj_main{
    display: block;
    width: 100%;
    height: auto;
    border-top: red solid 2px;
    padding-top: 10px;
}
.vesti_main{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-top: 5px;
    border: 1px solid rgb(208, 197, 197);
}
.vesti_main img{
    width: 100px;
}
.vesti_main:hover{
    border: solid 1px orangered;
}
.t_main{
    display: block;
    width: 100%;
    padding: 5px;
}
.tekst_main{
    height:70px;
}
.datum_main{
    text-align: right;
    color: grey;
    padding: 2px;
    font-size: smaller;
}
/************************************************************************/
.down_menu{
    width: 100%;
    height: 40px;
    border-top:grey 1px dotted;
    display: flex;
    justify-content:center;
    text-align: center;
    margin-top: 10px;
    border-bottom: rgba(208,4,4,255) solid 2px;
}
.dugmad{
    width: 70%;
    height: 100%;
}
.dugmad ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 100%;
    width: 100%;
    
}
.dugmad ul li{
    height: 100%;
    margin-left: 3px;
}
.dugmad ul li a{
    text-decoration: none;
    color: rgba(208,4,4,255);
    padding: 2px;
}
.dugmad ul button{
    height: 100%;
    min-width:30px;
    background-color: white;
    border: 0px;
}
.dugmad ul button:hover{
    background-color: gray;
}
.dugmad ul li a:hover{
    color: white;
}
/******************************************************************************/
.sidebar{
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: block;
    margin-left: 10px;
    margin-right: 5px;
}
.drustvene_mreze{
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: rgb(208, 197, 197) 1px solid;
    margin-bottom: 10px;
}
.drustvene_mreze ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.drustvene_mreze ul li{
    padding: 4px 5px;
}
.drustvene_mreze ul li img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.side_reklama{
    width: 100%;
    height: 500px;
    background-color: rgba(221,221,221,255);
    margin-bottom: 5px;
}
.vreme{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 10px 0px;
    border: 1px solid rgb(208, 197, 197);
}
.vreme h3{
    padding: 12px 10px ;
}
.kurs{
    display: flex;
    justify-content: space-around;
    height: 70px;
    margin: 10px 0px;
    border:1px solid rgb(208, 197, 197);
}
.kurs img{
    width: 60%;
    height: 100%;
}
.valuta{
    height: 100%;
    width: 35%;
    text-align: center;
}
.eur{
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 5px;
    text-transform:uppercase;
    border-bottom:2px solid grey;
}
.cena{
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 5px;
}
.naslov_side{
    width: 100%;
    height: 30px;
    background-color: rgba(208,4,4,255);
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    text-align: left;
    
}
/***************************************************************************************/
.skrol_side{
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
    padding: 5px;
    
}
.vesti_skrol{
    width: 100%;
    height: 92%;
    display: block;
    overflow: auto;
}
.unutar_skrola{
    width: 100%;
    max-height: fit-content;
    margin: 5px 0px;
    border: 1px solid rgb(208, 197, 197);
    display: flex;
    justify-content: space-between;
}
.vreme_unutar_skrola{
    min-width: 60px;
    text-align: center;
    padding-top: 5px;
    font-size:15px;
    color: rgb(109, 7, 7);
}
.tekst_unutar_skrola{
    height: 100%;
    width: 100%;
    padding: 10px 5px;
    font-size: smaller;
}
.tekst_unutar_skrola:hover{
    text-decoration: underline;
}
.dugmici{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin-top: 5px;
}
#pv{
    width: 120px;
    background-color: blue;
    color: white;
    text-transform: uppercase;
}
.gore_dole{
    width: 70px;
    height: 100%;
}
#up{
    width:30px;
    height: 100%;
    
}
#up img{
    height: 100%;
    width: 100%;
}
#dw img{
    width: 100%;
    height: 100%;
}

#dw{
    width: 48%;
    height: 100%;
}
/*********************************************************************************/

/******************************************************************************************/
.footer{
    display: block;
    width: 100%;
    height: 365px;
    margin-top: 10px;
    border-top: red solid 3px;
    padding: 10px 10px 0px 10px;
}
.gore_footer{
    margin-top: 5px;
}
.gore_footer ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: top;
}
.gore_footer ul li{
    text-align: left;
}
.gore_footer ul li a{
    text-decoration: none;
    color: rgb(40, 34, 34);
    font-weight: bold;
}
.gore_footer ul li ul{
    display: block;
    text-align: left;
    margin-top: 5px;
}
.gore_footer ul li ul li a{
    color: rgb(106, 94, 94);
    text-decoration: none;
    font-weight: 100;
    text-transform: none;
    padding: 10px 0px;
}
.gore_footer ul li a:hover{
    color: orangered;
}

.sredina_footer{
    height: 60px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.tag{
    display: block;
    width: 100%;
    
}
.tag img{
    width: 20px;
    height: 20px;
    padding-top:3px;
}
.brzi_nav{
    width: 70%;
    margin-left: 15%;
}
.brzi_nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 10px;
}
.brzi_nav ul li{
    border-left: 2px grey solid;
    margin-left: 5px;
    text-align: center;
    padding-left: 5px;    
}

.dole_footer{
    width: 100%;
    height: 35px;
}
.dole_footer ul{
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin-right:10px ;
}
.dole_footer ul img{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 5px;
}
@media only screen and (max-width:1024px) {
    .container{
        width: 100%;
        padding: 0px 5px;
        margin: 0;
    }
    .sidebar{
        display: none;
    }
    .main{
        width: 100%;
    }
    .header_gore{
        display: flex; 
        justify-content: space-around;
        width: 100%;
    }
    .reklama_header{
        display: none;
    }
    .logo{
        margin-left: 35%;
    }
    .header_dole{
        display: none;
    }
    .marketing{
        width: 30%;
        height: 100px;
        margin-left: 35%;
        margin-top: 5px;
    }
    #znak{
        width: 30%;
        height: 200px;
        margin-bottom: 10px;
    }
    .gore_footer{
        display: none;
    }
    .footer{
        border: none;
        height: auto;
    }
    .sredina_footer{
        margin-bottom: 50px;
    }
    .brzi_nav{
        margin-top: 30px;
    }
    .topnav{
        display: block;
    }
    .topnav a {
        display: none;
    }
    .icon {
        float: right;
        display: block;
        margin-left: 50px;
        margin-top: 30px;
    }
    .icon {
        display: block;
    }
    .topnav.responsive {position: relative;}
    .icon {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 40px;
    }
    .topnav.responsive a {
        float: none;
        display: flex;
        text-align: left;
        flex-direction: column;
    }
    .lupa{
        display: block;
        margin-left:30%;
    }
    .naslov_donja,.naslov_gornja{
        margin-left: 323px;
    }
    .naslov_glavna{
        margin-left: 525px;
    }
}
@media only screen and (max-width:426px){
    .container{
        width: 100%;
        padding: 0px 5px;
    }
    .sidebar{
        display: none;
    }
    .main{
        width: 100%;
    }
    .header_gore{
       display: flex; 
       justify-content: space-around;
       width: 100%;
    }
    .reklama_header{
        display: none;
    }
    .logo{
        margin-left: 20%;
        width: 40%;
    }
    .header_dole{
        display: none;
    }
    .marketing{
        width: 60%;
        height: 100px;
        margin-left: 20%;
        margin-top: 5px;
    }
    .gore_footer{
        display: none;
    }
    .footer{
        border: none;
    }
    .sredina_footer{
        margin-bottom: 50px;
    }
    .brzi_nav ul{
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin-left: 0;
    }
    .topnav{
        display: block;
    }
    .topnav a {
        display: none;
    }
    .icon {
        float: left;
        display: block;
        margin-left: 20px;
        margin-top: 30px;
    }
    .icon {
        display: block;
    }
    .topnav.responsive {position: relative;}
    .icon {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 40px;
    }
    .topnav.responsive a {
        float: none;
        display: flex;
        text-align: left;
        flex-direction: column;
    }
    .lupa{
        display: block;
        margin-left:10%;
    }
    .glavna_vest{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }
    .krupna_vest{
        width: 100%;
    }
    .naslov_glavna{
        margin-left: 333px;
    }
    .desna_vest{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .naslov_donja,.naslov_gornja{
        margin-left: 141px;
    }
    .donja,.gornja{
        width: 49%;
        height: auto;
    }
}
    

