*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
div{
   /* border: solid thin black;*/
}
.container{
    width: 100%;
    height: auto;
    display: block;
}
h2{
    margin-bottom: 20px;
    color:rgba(210,34,69,255) ;
}
/**********************************************************************/
header{
    background-color: rgba(15,42,78,255);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: left;
    border-bottom: 1px red solid;
}
.logo{
    width: 270px;
    margin-left: 10px;
    background-image: url(../imagess/logo.png);
    background-size: cover;
    background-position-x: -5px ;
    margin-left: 5px;
}
.nav{
    display: flex;
    width: 1200px;
    height: 100%;
}
.nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background-color: rgba(15,42,78,255);
}
.nav ul li{
    margin-left: 10px;
    height: 50px;
    padding: 15px 5px;
    width: fit-content;
    border-radius: 5px;

}
.nav ul li a{
    text-decoration: none;
    color: white;
}
.nav ul li:hover{
    background-color: rgba(210,34,69,255);
}
.topnav {
    overflow: hidden;
    display: none;
}
    
.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: white;
    width: 100%;
}
.topnav a.active {
    background-color: rgba(15,42,78,255);
    color: rgb(0, 0, 0);
    border-bottom: black thin solid;
}
.icon {
    width: 49px;
    display: none;
}
#index{
    padding: 0px;
    width: 100px;
    height:40px;
    border-radius: 0px;
}
#index img{
    width: 100px;
    height: 40px;
}
/************************************************************************/
.main{
    display: block;
    width: 85%;
    margin-left: 7.5%;
    height: auto;
    padding: 0px 20px;
    background-color: rgba(255,255,255,255);
}
.sadrzaj{
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
/*******************************************************************/
.glavni_sadrzaj{
    width: 68%;
    height: auto;
    display: block;
}
.naslov_glavni{
    display: block;
    margin-bottom: 20px;
}
.naslov_glavni p{
    color: rgba(210,34,69,255);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}
.naslov_glavni h1{
    font-size: 50px;
    font-weight: lighter;
    color: rgba(15,42,78,255);
    letter-spacing: -1px;
}
.baner{
    width: 100%;
    color: white;
    letter-spacing: 5px;
    padding-left: 20px;
    background-color: rgba(243,245,248,255);
    font-size: 35px;
    margin-bottom: 20px;
}
.lista_univerziteta{
    width: 100%;
    height: auto;
    display: block;
}
.lista_univerziteta ul{
    width: 100%;
    display: block;
    list-style-type: none;
}
.lista_univerziteta ul li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px rgba(241,243,247,255) solid;
    height: auto;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    color: rgba(15,42,78,255);
}
.univerzitet{
    text-align: left;
    font-size: 25px;
    width: fit-content;
    letter-spacing: -1px;
    
}
.grad{
    text-align: left;
    font-size: 25px;
    min-width: 205px;
    padding-left: 10px;
    letter-spacing: -1px;
}

/*********************************************************************/
.sidebar{
    width: 30%;
    height: fit-content;
    background-color:rgba(15,42,78,255) ;
    padding: 15px;
    display: block;
}
.mreze{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}
.mreze a img{
    width: 30px;
    height: 30px;
    margin: 0 15px;
    border-radius: 30%;
}
.linkovi{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.linkovi ul{
    width: 100%;
    height: 100%;
    display: block;
    list-style: none;
}
.linkovi ul li{
    height: 65px;
    background-color: rgba(210,34,69,255);
    margin-bottom: 2px;
    padding: 20px;
    color: white;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
}
#strelica{
    float: right;
}
.najnovije_vesti{
    border-top: 8px rgba(210,34,69,255) solid ;
    padding: 20px 15px 0px;
    display: block;
    background-color: rgba(69,94,139,255);
}
.naslov_vesti{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
    font-size: 250x;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.naslov_vesti span a{
    color:rgba(210,34,69,255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
}
.kvadrat_vesti{
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 10px;
}
.kvadrat_vesti img{
    max-width: 80px;
    max-height: 80px;
}
.vest_sidebar{
    display: block;
    margin-left: 10px;
}
.tekst_sidebar a{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: -1px;
    color: white;
}
.vest_sidebar span{
    color:rgba(210,34,69,255) ;
    font-weight: bold;
}
/**********************************************************/
.footer{
    margin-top: 30px;
    width: 100%;
    display: block;
    background-color: rgba(69,94,139,255);
}
.footer_gore{
    display: flex;
    justify-content: left;
    width: 100%;
    height: 150px;
    
}
.f_logo {
    width: 350px;
    height: 100%;
    background-color: rgba(69,94,139,255);
    margin-left: 30px;
}
.f_logo img{
    width: 100%;
    margin-top: 50px;
}
.footer_gore_linkovi{
    width: 100%;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 20px;
}
.footer_gore_linkovi ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
.footer_gore_linkovi ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.mreze_f{
    float: right;
    margin-right: 100px;
    margin-top: 30px;
    width: fit-content;
}
.mreze_f a img{
    width: 40px;
    margin-right:20px;
}
.footer_dole{
    height: 80px;
    width: 100%;
    background-color: rgba(15,42,78,255);
    display: flex;
    justify-content: space-between;
}
.footer_dole ul{
    display: flex;
    justify-content: left;
    list-style: none;
}
.footer_dole ul li{
    width: fit-content;
    margin-left: 30px;
    margin-top:25px ;
}
.footer_dole ul li a{
    font-size: 20px;
    text-decoration: none;
    color: grey;
    opacity: 0.7;
    font-weight: bolder;
}
.footer_dole h2{
    color: gray;
    float: right;
    margin: 20px 100px;
}
.dropdown{
    display: none;
}
/******************************************************/
@media only screen and (max-width:1024px){
    header{
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 150px;
        border-bottom: none;
    }
    .nav{
        display: none;
    }
    .logo{
        margin-left: 0;
        width: 330px;
        background-size: auto;
        background-repeat: no-repeat;
    }
    .topnav{
        display: block;
    }
    .topnav a {
        display: none;
    }
    .icon {
        float: left;
        display: block;
        margin-left: 20px;
        margin-top: 30px;
    }
    .icon {
        display: block;
    }
    .topnav.responsive {position: relative;}
    .icon {
        position: absolute;
        right: 30px;
        top: 30px;
        display: block;
        width: 40px;
    }
    .topnav.responsive a {
        float: none;
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: rgba(15,42,78,255);
        color: white;
    }
    .topnav.responsive a img{
        width: 200px;
        height: 50px;
        margin-left:400px ;
    }
    .main{
        width: 96%;
        margin-left: 2%;
    }
    .sadrzaj{
        display: flex;
        justify-content: space-between;
    }
    .glavni_sadrzaj{
        width: 59%;
    }
    .sidebar{
        width: 40%;
    }
    
    .footer_gore_linkovi{
        width: 100%;
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 10px;
    }
    .footer_gore_linkovi ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    .footer_gore_linkovi ul li{
        width: fit-content;
        margin-left: 10px;
        white-space: nowrap;
    }
    .footer_dole ul li a{
        white-space: nowrap;
        font-size: 15px;
    }
    .footer_dole h2{
        white-space: nowrap;
        font-size: 15px;
        margin:25px 20px ;
    }

}
@media only screen and (max-width:426px){
    header{
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 100px;
        border-bottom: none;
    }
    .nav{
        display: none;
    }
    .logo{
        margin-left: 0;
        width: 230px;
        background-size: 200px;
        background-repeat: no-repeat;
        margin-top: 10px;
    }
    .topnav{
        display: block;
    }
    .topnav a {
        display: none;
    }
    .icon {
        float: left;
        display: block;
        margin-left: 20px;
        margin-top: 10px;
    }
    .icon {
        display: block;
    }
    .topnav.responsive {position: relative;}
    .icon {
        position: absolute;
        right: 30px;
        top: 30px;
        display: block;
        width: 40px;
    }
    .topnav.responsive a {
        float: none;
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: rgba(15,42,78,255);
        color: white;
    }
    .topnav.responsive a img{
        width: 200px;
        height: 50px;
        margin-left:100px ;
    }
    .main{
        width: 96%;
        margin-left: 2%;
    }
    .sadrzaj{
        display:block;
    }
    .naslov_glavni h1{
        font-size: 30px;
    }
    
    .glavni_sadrzaj{
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }
    .veliki_sadrzaj{
        display: block;
        background-color: rgba(226,230,238,255);
        height: auto;
    }
    .footer_gore_linkovi{
        width: 100%;
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 10px;
    }
    .lista_univerziteta ul li{
        display: block;
    }
    .univerzitet{
        margin-bottom: 10px;
    }
    .grad{
        padding:0 ;
    }
    .mreze_f{
        margin-right: 130px;
    }
    .footer_gore_linkovi ul{
        display: none;
        justify-content: space-between;
        list-style: none;
    }
    .footer_gore_linkovi ul li{
        width: fit-content;
        margin-left: 10px;
        white-space: nowrap;
    }
    .footer_dole{
        padding-top: 20px;
        height: 400px;
        display: block;
    }
    .footer_dole ul{
        display: block;
        
    }
    .footer_dole ul li a{
        white-space: nowrap;
        font-size: 20px;
    }
    .footer_dole h2{
        white-space: nowrap;
        font-size: 20px;
        margin-left:0px;
    }
    .f_logo{
        display: none;
    }
}